footer .logo{
  font-size: 2rem;
  text-transform: uppercase;
  padding: 20px 0;
}

.footer-content {
  background-color: #3f51b5;
  border: 1px solid black;
  font-weight: bold;
  color: white;
}

footer .content{
  min-height: calc(100vh - 70vh - 80px);
}

.footer-widget {
  min-width: 200px;
  padding: 10px 0;
}

.footer-list{
  list-style: none;
  padding: 0;
}

.footer-list a{
  text-decoration: none;
  color: inherit;
}

.footer-bottom {
  background-color: #091c8a;
  height: 70px;
}
