header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 888;
}

.logo{
  text-transform: uppercase ;
  text-decoration: none;
  color: inherit;
}

.title {
  justify-content: start;
  padding-left: 20px;
  color: white
}

.nav {
  display: flex;
}


@media screen  and (max-width: 900px) {
  .nav {
    display: none;
  }

  header{
    justify-content: center;
  }
}
