header {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgb(23, 182, 103);
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.title {
  justify-content: start;
  padding-left: 20px;
  color: white
}

.nav {
  display: flex;
}


@media screen  and (max-width: 900px) {
  .nav {
    display: none;
  }

  header{
    justify-content: center;
  }
}
