<div class="card">
  <div class="product-image" [routerLink]="['product', product?.slug]">
    <img
      src="{{ (product ? (product.imageUrl ? product.imageUrl[0] : '' ): '')}}"
      [alt]="product?.name">
  </div>
  <div class="product-details">
    <div class="product-name">
      <h2>{{product?.name?.substring(0,40)}} {{ product && product.name[41] ? '...' : '' }}</h2>
    </div>
    <div class="product-price">
      <h3>{{product?.soldPrice}}$ </h3>
      <h3><del>{{product?.regularPrice}}$</del></h3>
      <button class="btn" (click)="handleClick(product)">Quick view</button>
    </div>
  </div>
</div>
