.card:hover {
  background-color: #1d1d1d;
  color: white;
}
.card {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.product-image {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image img {
  height: 200px;
  width: 300px;
}

.product-details{
  height: 50px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red{
  background-color: red;
}

.green{
  background-color: greenyellow;
}

.gray{
  background-color: gray;
}

.violet{
  background-color: violet;
}

