<div class="card">
  <div class="product-image">
    <img
      src="{{ (product ? (product.imageUrl ? product.imageUrl[0] : '' ): '')}}"
      [alt]="product?.name">
  </div>
  <div class="product-details">
    <div class="title">{{product?.name?.substring(0,40)}} {{ product && product.name[41] ? '...' : '' }}</div>
    <div class="price">
      {{product?.soldPrice}}$ - <del>{{product?.regularPrice}}$</del>
     </div>
  </div>
  <div class="product-action-button flex gap-5 jcc">
   <button class="btn" (click)="handleClick(product)">Quick view</button>
   <button class="btn" [routerLink]="['product', product?.slug]">All details</button>
  </div>
</div>
