<div class="product-list">
  <a *ngFor="let product of products" [routerLink]="['product', product.slug]">
    <app-product-card [product]="product" (showProductDetails)="handleShowProductDetails($event)"
    (getProductItem)="handleGetProduct($event)"></app-product-card>
  </a>


  <div class="bar" *ngIf="!products.length">
    Désolé, aucun article n'est disponible pour le moment
  </div>

  <app-modal-product-view *ngIf="showModal" (showModal)="handleShowProductDetails($event)"
    [product]="productSelect"></app-modal-product-view>
</div>
