<div class="product-list">
  <app-product
    *ngFor="let item of products"
    [product]="item"

    (showProductDetails)="handleShowProductDetails($event)"
    (getProductItem)="handleGetProduct($event)"
    ></app-product>

    <div class="bar"
      *ngIf="!products.length">
      Désolé, aucun article n'est disponible pour le moment
    </div>

    <app-modal-product-view *ngIf="showModal" (showModal)="handleShowProductDetails($event)" [product]="productSelect"></app-modal-product-view>
</div>
