<app-loading *ngIf="isLoading"></app-loading>

<div class="product-list" *ngIf="!isLoading" >
  <div *ngFor="let product of products">
    <app-product-card [product]="product" (showProductDetails)="handleShowProductDetails($event)"
    (getProductItem)="handleGetProduct($event)"></app-product-card>
  </div>


  <div class="bar" *ngIf="!isLoading && !products.length">
    Désolé, aucun article n'est disponible pour le moment
  </div>

  <app-modal-product-view *ngIf="showModal" (showModal)="handleShowProductDetails($event)"
    [product]="productSelect"></app-modal-product-view>
</div>
