<app-loading *ngIf="isLoading"></app-loading>

<div class="single-product flex content" *ngIf="!isLoading">
  <div class="single-product-image flex flex-1">
    <img [src]="product ? product.imageUrl[0]  : ''" [alt]="product?.name">
  </div>
  <div class="single-product-details flex-1 ">
    <h2 class="flex aic jcc">{{product?.name}}</h2>
    <div class="single-product-details-price flex-1 flex aic jcc column">
      <h4>{{product?.soldPrice | currency: "CAD"}}</h4>
      <del>
        <h4>{{product?.regularPrice | currency: "CAD"}}</h4>
      </del>
    </div>
    <div class="single-product-details-created-at flex aic jcc">
      Crée le {{product?.created_At | date:"dd:MM:YYYY"}}
    </div>

  <div class="product-action-button flex aic jcc">
    <button class="btn" >Pay now</button>
   </div>
  </div>
</div>
