.single-product {
  margin-top: 20px;
  margin-bottom: 20px;
}
.single-product .single-product-image {
  justify-content: flex-end;
}
.single-product .single-product-image img{
  width: 400px;
}

.single-product .single-product-details{
  margin-left: 20px;
}


