nav {
  display: flex;
  font-size: 1rem;
  color: white;
}

ul {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  list-style: none;
  color: white;
}

li {
  flex: 1;
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and(max-width: 900px) {
  nav{
    display: none;
  }
}

