/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.b {
  border: 0.1px solid black;
}

.flex {
  display: flex;
}

.flex-1{
  flex: 1;
}

.flex-2{
  flex: 2;
}

.aic{
  justify-items: center;
}

.jcc{
  justify-content: center;
}

.column{
  flex-direction: column;
}

.btn {
  height: 40px;
  min-width: 150px;
  outline: none;
  margin: 10px 0;
  padding: 10px 0;
  cursor: pointer;
  color: #1d1d1d;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.wrap {
  flex-wrap: wrap;
}

.content {
  width: 80%;
  margin: 0 auto;
  min-height: 70vh;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .content {
    width: 95%;
  }
}

/**** SINGLE PRODUCT ****/

/**** SIGNUP ****/
.signup {
  width: 100hv;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  width: 600px;
  position: relative;
  border: 0.1px solid #ccc;
}

form {
  padding: 10px;
}

.form-line {
  min-height: 40px;
  padding: 10px 0;
}

form .form-line input{
  font-size: 1.1rem;
  height: 40px;
}

.btn {
  height: 40px;
  width: 100px;
  color: white;
  cursor: pointer;
  background-color: #1d1d1d;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
}

@media screen and (max-width: 550px) {
  .form-container {
    width: 95%;
  }
}
