<div class="signup">
  <div class="form-container">
    <form action="" [formGroup]="signInFOrm">
      <h2>Connexion</h2>
      <div class="form-line flex">
        <input class="flex-1" type="email" name="email" placeholder="Your email" [formControl]="email">
      </div>
      <div class="error" *ngIf="email.dirty && !email.valid">
        <p *ngIf="email.hasError('required')">
          Le champ ne doit pas etre vide
        </p>
        <p *ngIf="!email.hasError('required')">
          L'email n'est pas correct.
        </p>
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="password" name="password" placeholder="Your password" [formControl]="password">
      </div>
      <div class="error" *ngIf="password.dirty && !password.valid" >

        <p *ngIf="password.hasError('required')">
          Le mot de passe est requis.
        </p>
        <p *ngIf="password.hasError('minlength')">
          Le mot de passe doit avoir au moins 06 caracteres
        </p>
      </div>

      <div class="button flex">
        <button class="btn flex-1" [disabled]="!signInFOrm.valid" (click)="handleSubmit()">S'inscrire</button>
      </div>

    </form>
  </div>
</div>
